/*--------------------STYLE RTL-------------*
     *------------ 1. Header -------------- *
	*------------ 2. Search Pro ---------- *
	*------------ 3. Main Menu------- *
	*------------ 4. Vertical Menu ---------- *
	*------------ 5. Slideshow ----------- *
	*------------ 6. Breadcurmb ---------- *
	*------------ 7. Block Cart ---------- *
	*------------ 8. Footer -------------- *
	*------------ 9. Product Listing ----- *
	*------------ 10. Product Detail ------ *
	*------------ 11. Other Module ------- *
*/
//rotate
.lib-rotate-rtl{
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.button-group .addToCart, .products-list.grid .product-layout .product-item-container .button-group .addToCart{
    padding: 5px 38px 5px 10px;
    background-position: 90% center !important;
    
}
//
.media-body, .media-left, .media-right{
    display: table-cell;
    vertical-align: top;
    text-align: right;
}

.module {
    h3.modtitle{
       &:before{
        left: auto;right: 0;
       }
    }
}
//
.compare{
    .fa-chevron-right{
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
    }
}
//
.footer-container{
    &:before{
        left: auto;
        right: 0;
    }
    .content-payment{
        padding-left: 50px;
        padding-right: 0;
        .block-payment{float: right;}
    }
    .module .contact-us li i{
        float: right;
        margin-left: 15px;
        margin-right: 0;
    }
}
//
#yt_spotlight5{
   .main-module{
	  .module{
		 float: right;
	  }
	  
   }
   
}
/*-----------------1. HEAER ----------------*/

.header-top{
    .header-top-right{text-align: left;
        ul.top-link > li{float: right;
            &:after{
                right: auto;
                left: 0;
            }
            &.account >a {
                &:before{left: inherit; right: 0;}
            }
            > a{
                &:before{left: inherit; right: 0;}
            }
            &.navbar-help{
                a span{margin-left: 0;margin-right: 2px;}
            }
            ul.dropdown-link{left: auto;right: 0;text-align: right;}
        }
    }
    .header-top-left {
        > div{float: right}
        .currencies-block form > a{padding: 6px 0 6px 10px}
    }
}
.header-center{
    .cart-wishlish-compare .shopping_cart{
        float: left;
        .top_cart{
            background-position: right center;
            padding-left: 0;
            padding-right: 80px;
            span.number{
                right: 36px;
                left: auto;
            }
            
        }
    }
}
.header-bottom-right{text-align: left;
    .log-reg {
        > li.quick-register::after{left: auto;right: -2px;}
        > li.quick-login .dropdown-login{
            
            right: auto;
            left: 15px;
            text-align: right;
            .form-group.input{
                padding: 0 35px 0 0;
                &:before{right: 0;left: auto}
            }
        }
    }
}
/*------------2. SEARCH PRO ------------*/
.header-center .navbar-search{
    #search input{float: right; padding-right: 15px; border-right: 1px solid #ddd; border-left: 0;}
}
#sosearchpro.search-pro{margin-left: 0;  float: left;
    .icon-select::after{
        right: auto;
        left: -7px;
    }
    .dropdown-menu .media-left{float: right;}
    .input-group {
        .select_category{float: right;border-width: 0  0 0 1px}
        .input-group-btn{right: auto;left: 0;}
    }
	.input-group .select_category{border-radius: 0 4px 4px 0}
}
#sosearchpro .icon-select::after{left: 0; right: inherit;}

/*------------ 3.MAIN MENU ------------*/
#menu .nav > li.wrap_custom_block > div.custom_block{left: 0; right: inherit;}
#menu .nav > li.wrap_custom_block > div.custom_block .featured .layout-color ul li a{padding: 7px 30px 7px 0;
    &:before{right: 0; left: inherit;}
}
#menu .nav > li ul + ul{padding-left: 0; padding-right: 20px;}

/*------------ 4.VERTICAL MENU ------------*/
.header-bottom .sidebar-menu{
    .so-vertical-menu .cat-title .fa-chevron-circle-down{left: 12px; right: inherit;}
    .so-vertical-menu > ul > li{
        > ul{right: 100%; left: inherit;}
        > a:after{transform: rotate(180deg); left: 10px; right: inherit !important;}
        &.more-wrap{text-align: right;
            span.more-view{
                i{padding: 0 0 0 5px;}
            }
        }
    } 
}
/*-------------- 5.SLIDESHOW -----------*/
#yt_header_right{
    
    .htmlcontent-block{float: left;}
    #custom_popular_search{float: right;
        .so-searchbox-popular-title{float: right;}
        .so-searchbox-keyword{float: right; }
    }
}
/*---------------------- 6.BREADCRUMB -----------------*/
.breadcrumb {
   
    > li + li{
      &:after{content: "\f104" !important;font-family: fontawesome;margin: 0 5px;}
      &:before{display: none;}
   }
}

.owl2-carousel.owl2-loaded{direction: ltr;}


//-------------------- 7. Block Cart  --------------
.shopping_cart .shoppingcart-box a.btn{padding: 6px 10px 6px 20px;
    i{margin-left: 5px; margin-right: 0;}
}
.shopping_cart .shoppingcart-box {
    .table-striped .media-body{
    padding-right: 10px;
    }
    .img-item a.remove{
        right: auto;
        left: -5px;
    }
}
/*----------------8.FOOTER----------------*/
.block-payment{float: left;}
.footer-top-block .module ul.menu li a::before{float: right;margin-right: 0;margin-left: 5px;-moz-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}
.footer-container .footer-navbar .module ul.menu li a:before{content: "\f100"; margin-right: 0; margin-left: 5px; float: right;}
ul.footer-directory li h2{margin-right: 0; margin-left: 5px;}
.footer-top-block .module ul.contact-address li .fa{margin-left: 5px;margin-right: 0;}
.footer-top-block  .col-lg-15{float: right;}
//blog
.simple-blog, .blog-comment-info{
    .pagination {
        > li {
            span, a{
                i{@extend .lib-rotate-rtl}
            }
        }
    }
}
//
.module.slider-sale-up .yt-content-wrap .item .main-content{text-align: right;}
/*--------------- 9.PRODUCT LISTING -----------------*/
.product-filter.filters-panel .list-view{text-align: right;}
.short-by-show{float: right;}
.box-pagination{float: left;}
.box-pagination .pagination > li span, .box-pagination .pagination > li a{
	i{@extend .lib-rotate-rtl}
}
.filters-panel select.form-control{background-position: left center;}
.module.block_category .box-content ul li{
    span.button-view{left: 0; right: inherit;}
    ul li a:before{content: "\f104"; margin-left: 0; margin-right: -12px; float: right;}
    ul li a:hover:before{margin-right: 0;}
} 
.module.latest-product .media .media-left{float: right; margin-left: 20px; margin-right: 0;}
div.block_category .box-content ul li a{padding: 5px 0 5px 30px}
.block_category .box-content ul li ul li a{padding: 0;}
#input-sort > option{padding-right: 12px !important;}
.products-list.grid{
    border-left: none;
    &:before{
        left: 0;
        right: auto;
    }
}
.products-list.list .product-layout .product-item-container .right-block .button-group{text-align: right;}
.products-list .product-layout .product-item-container .left-block .product-image-container {
    float: right;
    .item-time {
        left: -10px;
        right: auto;
        &:before{
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            right: -30px;
            left: auto;
        }
        &:after{
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            right: auto;
            left: 0;
        }
        .time-item{
        border-width: 0 0 0 1px;
        
        &:last-child{border: none;}
        }
    }
}
.products-list.list {
    .label-sale{
        transform: rotate(-312deg);
        -moz-transform: rotate(-312deg);
        -webkit-transform: rotate(-312deg);
        -ms-transform: rotate(-312deg);
        left: auto;
        right: -47px;
        top: -20px;
    }
    .label-new{
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        left: auto;
        right: -47px;
        bottom: -46px;
    }
}
/*---------------------- 10.PRODUCT DETAIL ------------------*/
.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m{float: right !important;}
.left-content-product .content-product-left .thumb-video{left: auto;right: 5%;}
.product-detail{
    .producttab .tabsslider.vertical-tabs{
        ul.nav-tabs{
            li:before{left: inherit; right: 0;}
        }
        .tab-content{border-right: 1px solid #e6e6e6; border-left: 0;}
    }
    .left-content-product .content-product-right .product-label{
        .price{float: right;}
        .stock{float: left}
    }
    div.left-content-product .content-product-left{padding-left: 15px;}
    .left-content-product .content-product-right .box-info-product{float: right;
        .quantity .quantity-control{float: right;}
        .cart{margin-left: 3px; margin-right: 0;}
        .add-to-links ul li a{float: right;}
    }
    div.left-content-product .content-product-right{
        .box-review .ratings{margin: 0 0 0 20px;}
        #product .box-date{
            label{float: right; margin-right: 0; margin-left: 10px;}
            button{float: left; border-left: 1px solid #ddd; border-right: 0;}
        }
        .product-box-desc .inner-box-desc:before{left: inherit; right: -20px;}
        
    } 
    .addthis_native_toolbox{float: right;}
}
.related .releate-products .product-item-container .product-item{direction: rtl;
    .media-left{padding-left: 10px;}
}
.releate-products .product-layout,
.owl2-carousel .owl2-stage-outer{direction: ltr;}
div.related .releate-products.owl2-theme .owl2-nav{
    div.owl2-next{float: left; left: 5px; right: inherit;}
    div.owl2-prev{float: left; left: 0; right: inherit;}
}


#product-accordion .panel .panel-heading a span.arrow-up{left: 0; right: inherit;}
#thumb-slider.owl2-carousel .owl2-stage-outer{direction: ltr;}

#tab-review  .contacts-form span span.text-danger{margin-left: 15px; margin-right: 0;}
.mfp-close{left: 0; right: inherit;}

.banner-policy .policy a span{float: right !important; margin-left: 10px; margin-right: 0 !important;}

/*------------------------END PRODUCT DETAIL ----------------*/

/*-------------------------11. BONUS PAGES ---------------------------------------------*/
//CONTACT
    div.contact ul li {padding-left: 0;padding-right: 45px;float: right;
         &:before {left: auto;right: 0;}
    }
    div.contacts .info-contact .icon{float: right; padding-left: 20px; padding-right: 0;}
   

//SITE MAP
.page-sitemap{
    h1{font-weight: normal; margin-bottom: 20px;}
    .arrow-list li:before{content: "\f104"; float: right; margin-left: 10px; margin-right: 0;}
} 

//-----------------------------PAGE LOGIN & REGISTER---------------
.page-login{
    .well h2{padding-left: 0; padding-right: 20px;
        &:before{left: inherit; right: 0;}  
    }
    .customer-login .bottom-form{
        input{float: left; margin-right: 0; margin-left: 10px;}
        a{padding-left: 0; padding-right: 16px;}
       } 
}

.page-login .new-customer .bottom-form a{float: left; margin-left: 10px;}


//-- PAGE CART SHOPPING
.shopping_cart .shoppingcart-box:before{right: inherit; left: 114px;}
.shopping_cart{position: relative;
    a.top_cart .handle{float: right;  }
    a.top_cart .shopcart .title{text-align: right;}
    a.top_cart .shopcart .text-shopping-cart{white-space: nowrap;}
   
}
.shopping_cart a.top_cart{white-space: nowrap;}
.shopping_cart .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{background: #fff;}


/*---------------------------------------PAGE BLOG ----------------------*/
div.article-info .article-sub-title span.article-author{padding-right: 0; padding-left: 11px;}
div.article-info .article-sub-title span{border-right: 0; border-left: 1px solid #e5e5e5; float: right;}
.article-reply .author{float: right;}
.article-reply .comment-date{float: left;}
.blog-listitem .blog-item .itemBlogContent{ padding-left: 15px;
    .article-sub-title .article-date i{margin-right: 0; margin-left: 5px;}
    .blog-meta{display: inline-block;
        > span.comment_count{float: left;}
        span.author{padding-right: 0;}
    }
}
div.article-info .related-comment .panel-body .form-group #comments{padding-right: 5px;}
.filters-panel .view-mode{float: right;}
 
/*------------------PAGE ABOUT ---------------------*/
 div.about-us .about-content{
         .image{float: right; margin-right: 0; margin-left: 30px;}
         .whychooseus ul li{padding-left: 0; padding-right: 30px;
              &:before{left: inherit; right: 0;}	
         }
         .title strong{padding: 0px 0 0px 15px;}
         .customersay .happy-title{right: 20px; left: inherit;}
    }
    .about-us .owl-dots{left: inherit; right: 47%;
         .owl-dot span{float: right;}
    }
    .about-us .owl-carousel.owl-loaded{direction: ltr;}

.about-us .content-faq .panel .panel-title a{padding: 15px 25px  15px 0;
    &:before{right: 0; left: inherit;}
    &:after{left: inherit; right: 6px;}
}
.yt-gallery ul li .item-gallery a h3.item-gallery-title{right: -105%; left: inherit;}
.yt-gallery ul li .item-gallery:hover h3.item-gallery-title{right: 0; left: inherit;}
div.yt-gallery .tabnav li{float: right;}

/*--------------------So Megamenu Horizontal------------------------*/
.megamenu-style-dev .navbar-default .horizontal{
    ul.megamenu > li{float: right;}
    .megamenu-wrapper ul.megamenu {
        li .sub-menu .content .categories .menu ul li ul li{
            padding: 6px 20px 6px 0;
            &:before{
                left: auto;right: 0;
            }
        }
        > li.css-menu .sub-menu ul li{
            &:before{
                left: auto;right: 0;
            }
        }
    }
}
/*-------------------- So Megamenu  Vertical ------------------------*/
.megamenu-style-dev .navbar-default .vertical{

    #menuHeading .megamenuToogle-wrapper .container{
        >div{
            float: right;
            margin: 5px 0 0 9px
        }
        
    }
    
    .vertical-wrapper::before{right: 13px;left: auto;}
    .vertical-wrapper ul.megamenu > li {
        .fa-angle-right{
            float: left;
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
        }
        &.item-vertical .sub-menu .content .categories .menu ul li ul li{
            padding: 6px 20px 6px 0;
            &:before{
                left: auto;
                right: 0;
            }
        }
        a img{margin-right: 0;margin-left: 10px;}
        > .sub-menu{
            right: 100% !important;
            left: auto;
        }
        &.item-vertical.vertical-style3{
            .content .image-position{right: auto;left: -20px;}
        }
        &.item-vertical.vertical-style1 .content{
            padding: 20px 20px 0 0;
            .col-sm-4 img{
                transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
            }
        }
        &.item-vertical.vertical-style2 .sub-menu .content{
            padding-right: 20px;
            padding-left: 0;
        }
         &.item-vertical.css-menu  .content{
            box-shadow: -3px -1px 4px 0 rgba(0, 0, 0, 0.1);
            .menu > ul > li{
                b{
                    float: left;
                    transform: rotateY(-180deg);
                }
                ul{
                right: 100%;
                }
            }
            .categories .menu > ul li{
                &:before{
                    left: auto;
                    right: 0;
                }
             }
        }
    }
}
/*-----------------SLIDESHOW--------------*/
#so-slideshow{float: right;margin-right: 0;margin-left: 10px;
    .module.slideshow{margin: 0 0 10px;}

}
/*---------------------------------------*/
.module.style-dev-so-extraslider .so-extraslider .owl2-controls .owl2-nav{
    div.owl2-prev{left: 7px;right: auto}
    div.owl2-next{left: 37px;right: auto}
}
.so-extraslider .extraslider-inner .item-wrap .item-info{
    text-align: right;
     .item-content{
        text-align: right;
        direction: rtl;
     }
}
/*---------------------------------------*/
.wap-listing-tabs .item-cat-image{float: right;}
.module.style-dev-listing-tabs {
	
    .ltabs-tabs-container{
        left: 0;
        right: auto;
        .ltabs-tabs li{
            float: right;
            &:last-child{
                padding-left: 0;
                padding-right: 15px;
            }
        }
		.ltabs-tabs-wrap .ltabs-tabs li{
			> span{
			white-space: nowrap;
			border-left: 1px solid #ccc;
			border-right: none;
			}
			&:last-child{
				padding-left: 15px;
				padding-right: 0;
			}
		}
    }
    .owl2-carousel .owl2-stage-outer{
        direction: rtl;
    }
}
//
.module.so-latest-blog {
    .blog-external-simple .cat-wrap .item .media-body .media-subcontent{
        .media-date-added{float: right;}
        .media-comment{float: left;}
    }
    .readmore{padding: 0; i{@extend .lib-rotate-rtl}}
}
//
.so-deal .product-thumb{
    direction: rtl;
    .item-timer .time-item{
        float: right;
        &:before{
            right: auto !important;
            left: -2px;
        }
    }
}
/*-----------------------------------------*/
.newsletter{
    .group-form .form-group .subcribe{right: auto;left: 0;}
    .group-content{text-align: right}
}
/*------------------ OTHER ----------------- */
//
.yt-gallery .tabnav li{float: right;}
//
 .module.style-dev-so-listing-tabs  .so-listing-tabs {
    .ltabs-wrap .wap-listing-tabs .item-cat-image{float: right;}
    .wap-listing-tabs {
        border-width: 1px 0 1px 0;
        &:before{
            right: auto;
            left: 0;
        }
        .ltabs-items-container .ltabs-items .ltabs-item .item-inner{
        border-width: 0 0 0 1px;
        }
    }
}
//
.module.top-category .content .text{
	i{@extend .lib-rotate-rtl;}
}
//----Mod Shop by ------
.so_filter{
    .so_filter_shop_by{ 
        
        .so_filter_shop_by_item_category p {float: right; margin-left: 0; margin-right: 10px;}
        .so_filter_shop_by_item_category input{margin: 0;float: right;}
        .sj_count_item{float: right;}
        .sj_filter_color_item .sj_img{float: right;
          span, img{float: right;}
        }
    }
	
	.so_filter_shop_by_item_title i{float: left}
    .so_filter_shop_by_item_Min_Max .so_filter_shop_by_item_title i{left: 10px;right: auto;}
    .so_filter_shop_by_item_Color .sj_img img{margin-right: 0;margin-left: 10px;}
    .box-heading{
        &:before{left: auto;right: 0;}
    }
    .sj_filter_category_img{float: right;margin-left: 10px;}
}
.so_filter_shop_by_item_category p, .so_filter_shop_by_item_category input{float: right;}
.sj_filter_color_item .sj_filter_color_delete{left: 0; right: inherit;}
.so_filter_shop_by_item_title i{float: left;}
.so-fillter .so_filter_shop_by_item_Min_Max .so_filter_shop_by_item_title i{left: 10px;right: auto;}
.so-fillter .so_filter_shop_by_item_category input{margin: 4px 0 0 8px;}
.module.style-dev-so-deals .so-deal .extraslider-inner .item .product-thumb .image{float: right;}

.newsletter .form-right .form-group{
    .subcribe{
    float: left;
    }
    .group-content{text-align: left}
}

.module.client-say-slider{
    .owl2-carousel .owl2-dots .owl2-dot{float: right;}
    .item{
        .images{
        float: right;
        padding-left: 20px;
        padding-right: 0;
        }
    }
}

.module.so-latest-blog .so-blog-external .blog-external-simple .media .item .media-left{float: right;}